* {
    box-sizing: border-box;
}



body {
    background-color:rgb(166, 168, 170);
    font-size: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color:grey;
    border-radius: 10px;
    border-color: 3px cornflowerblue;
    box-shadow: 0 2px 20px cornflowerblue;
    width: 400px;
    padding: 45px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.submit {
    margin-top: 20px;    
}